<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>
    <h1>404 Error</h1>
    <p>The page you have navigated to does not exist. 
        Please check your spelling and try again.
    </p>
</body>
</html>