<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Home</h1>
    <p>
        This landing page serves to explain the purpose of the site,
        as well as guiding users to create an account for full site access.
        <br><br>
        Signed out users will only see the navigation bar, login/signup links,
        and the home page. 'Your Files' will be hidden until login, and 'Upload'
        may show a different page that explains what file types and sizes are supported.
    </p>
</body>
</html>