<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Upload a file</h1>
    <form action="" method="">
        <label for="newFile">File to upload:</label>
        <input type="file" name="newFile" id="newFile">
        <button type="submit">Upload</button>
    </form>
</body>
</html>